# Environment
ENVIRONMENT=production

# Database Configuration (Neon PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_hMtrjxz9qA5C@ep-green-pine-anw2pzja-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require

# Security
SECRET_KEY=67aa5288c88bf4499d778514fc114d79e9dfda01dac601cb15cd88f9194e78de
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# CORS Origins (will be updated after getting LoadBalancer IP)
FRONTEND_URL=http://localhost:5173
PRODUCTION_URL=http://localhost:8000

# UploadThing Configuration (Optional - for cloud file storage)
UPLOADTHING_TOKEN=
UPLOADTHING_APP_ID=
UPLOADTHING_SECRET=